<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.udacity.gradle.builditbigger">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.udacity.gradle.builditbigger.JokeActivityPaid"
            android:label="@string/title_activity_joke" />
        <uses-library android:name="android.test.runner"/>


    </application>
</manifest>
